# Ignore everything except repo content
*
!.gitignore
!.cursor/
!.cursor/rules/
!.cursor/rules/**
!.cursor/skills/
!.cursor/skills/**
!README.md
!README-getting-started.md
!SOUL.md
!rei-core.md
!working-memory.md
!IMPROVEMENTS.md
!all-projects.md
!done-projects.md
!project-timeline.md
!LICENSE
!CLAUDE.md
!specialists/
!specialists/**
.DS_Store
